// Global style
* {
  position: relative;
  margin: 0;
  padding: 0;
  user-select: none;
  outline: none;
  letter-spacing: 0.6px;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif;
}

body {
  -webkit-overflow-scrolling: touch;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

input[disabled] {
  cursor: not-allowed;
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
